# Ignore a specific .mp4 file in a folder path
Computer Vision Project/3D-Organ-Reconstruction-from-Video/Zygote Body 3D Anatomy Online Visualizer _ Human Anatomy 3D - Google Chrome 2024-11-12 22-05-13.mp4
